

<head>
  <meta charset="utf-8" />
  <title>Disc Golf App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/jquery-ui.js"></script>

  <script src="js/misc.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="css/site.css" />
</head>
<body>
  <div class="navbar">
    <span>Demo only. All data is courtesy of <a href="https://www.marshallstreetdiscgolf.com/" target="_blank">Marshall Street Disc Golf</a></span>
    <span class="spacer"></span>
    <a class="navbarLinks" href="/">Home</a>
    <a class="navbarLinks" href="/search">Search</a>
  </div>
  <div>
    <div id="overlay"></div>
      <div id="discs"></div>
  </div>
</body>